html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lora", serif;
  line-height: 1.4rem;
  font-size: 1.1rem;
  margin: auto;
  width: 100%;
  background-color: #87a8a8;
  color: #084a4a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

p,
ul {
  margin: auto;
  width: 75%;
  padding-bottom: 0.5rem;
}

.bold-text {
  font-weight: 600;
}

.center-text {
  text-align: center;
}

h2,
h3,
h4 {
  text-align: center;
  margin: 2rem;
}

h2:after {
  background-color: #084a4a;
  content: "";
  display: block;
  height: 0.1rem;
  max-width: 75%;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

section {
  padding: 2rem;
}

.info,
.apartman,
.pricing,
.foot {
  background-color: #d5dfdf;
}

.studio,
.details,
.contact {
  background-color: #87a8a8;
}

.btn__basic {
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: 2px solid #084a4a;
  display: inline-block;
  margin: 2rem auto 2rem auto;
  min-width: 150px;
  text-align: center;
  vertical-align: middle;
}

.btn__basic a {
  text-decoration: none;
  color: #084a4a;
  font-weight: 600;
}

.info .btn__basic {
  background-color: #d5dfdf;
}

.info .btn__basic:hover {
  color: #d5dfdf;
  background-color: #084a4a;
}

.info .btn__basic:hover a {
  color: #d5dfdf;
}

.apartman .btn__basic,
.details .btn__basic {
  background-color: #87a8a8;
}

.apartman .btn__basic:hover,
.details .btn__basic:hover {
  color: #d5dfdf;
  background-color: #084a4a;
}

.apartman .btn__basic:hover a,
.details .btn__basic:hover a {
  color: #d5dfdf;
}

.studio button {
  background-color: #87a8a8;
}

.studio button:hover {
  color: #d5dfdf;
  background-color: #084a4a;
}

.studio button:hover a {
  color: #d5dfdf;
}

.nav {
  background-color: #87a8a8;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #87a8a8;
}

.nav li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #084a4a;
}

.nav .nav__item:hover {
  background-color: #084a4a;
  color: #d5dfdf;
}

.nav__logo {
  float: left;
  display: block;
  padding: 10px 0 0 10px;
}

.nav .svg__logo:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.nav .svg__logo:hover path {
  fill: #d5dfdf;
}

.nav__menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.nav .menu__icon {
  cursor: pointer;
  float: right;
  padding: 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav .menu__icon .nav__icon {
  background: #084a4a;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 24px;
  margin-top: 5px;
}

.nav .menu__icon .nav__icon:before {
  background: #084a4a;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  top: 4px;
}

.nav .menu__icon .nav__icon:after {
  background: #084a4a;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  top: -4px;
}

.nav .menu__btn {
  display: none;
}

.nav .menu__btn:checked ~ .nav__menu {
  max-height: 240px;
}

.nav .menu__btn:checked ~ .menu__icon .nav__icon {
  background: transparent;
}

.nav .menu__btn:checked ~ .menu__icon .nav__icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav .menu__btn:checked ~ .menu__icon .nav__icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 900px) {
  .nav {
    background-color: #87a8a8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .menu__btn,
  .nav .menu__icon {
    display: none;
  }
  .nav .nav__menu {
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav li a {
    font-size: 1rem;
    padding: 5px 20px;
  }
  .nav a {
    margin: 2px;
    text-decoration: none;
  }
  .nav a:hover {
    border-radius: 8px;
  }
}

header {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

header .intro__content--text {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 4rem auto 1rem auto;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #d5dfdf;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 900px) {
  header .intro__content--text {
    font-size: 4rem;
    line-height: 4rem;
    margin: 4rem auto 2rem auto;
  }
}

header .intro__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

header .intro__photo img {
  width: 100%;
}

.studio1__photogallery,
.studio2__photogallery,
.apartman__photogallery {
  margin: 15px 15px;
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.studio1__photogallery img,
.studio2__photogallery img,
.apartman__photogallery img {
  padding: 2px;
  width: 100px;
  height: 100px;
}

@media (min-width: 980px) {
  .studio1__photogallery img,
  .studio2__photogallery img,
  .apartman__photogallery img {
    width: 200px;
    height: 200px;
  }
}

.studio1__photogallery p,
.studio2__photogallery p,
.apartman__photogallery p {
  padding: 20px 0px;
}

.transport__summer img {
  width: 50%;
}

.pricing__list {
  margin: 2rem auto 2rem auto;
  font-size: 0.8rem;
}

@media (min-width: 900px) {
  .pricing__list {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .pricing__list {
    font-size: 1.2rem;
  }
}

.pricing__list th,
.pricing__list td {
  padding: 1rem;
  text-align: center;
}

.pricing__list .table__heading {
  color: #d5dfdf;
  background-color: #084a4a;
  border-radius: 8px;
}

.pricing__list .table__content {
  background-color: #87a8a8;
  border-radius: 8px;
}

.link {
  font-weight: 600;
  color: #084a4a;
}

.contact button {
  background-color: #87a8a8;
}

.contact button:hover {
  color: #d5dfdf;
  background-color: #084a4a;
}

.contact button:hover a {
  color: #d5dfdf;
}

.contact .contact__tel,
.contact .contact__mail {
  text-decoration: none;
  color: #ffd66d;
}

.contact p {
  text-align: center;
}

footer p {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}
/*# sourceMappingURL=styles.css.map */